<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
</head>

<body>
  <%- include('navbar_admin') %>
    <div style="margin-right: 700px;">
      <!-- <button class="button btn-sm btn-label-danger">
        <a href="/user/logout">Logout</a>
      </button> -->
    </div>
    
      <% userData.forEach(user=> { %>
        <div class="card" style="width:20%">
          <!-- <div class="card-image">
        <figure class="image is-128x128">
          <img class=""
            src="https://bulma.io/assets/images/placeholders/128x128.png"
            alt="Placeholder image"
          />
        </figure>
      </div> -->
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/assets/images/placeholders/96x96.png" alt="Placeholder image" />
                </figure>
              </div>
              <div class="media-content">
                <p class="subtitle is-6">
                  <%= user.username %>
                </p>
                <p class="subtitle is-6">*******</p>
              </div>
            </div>

            <!-- <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
          <a href="#">#responsive</a>
          <br /> -->
            <time datetime="2016-1-1">Create: <%= user.createdAt %></time>
            <br />
            <time datetime="2016-1-1">Update: <%= user.updatedAt %></time>
          </div>
        </div>
        </div>
        <% }); %>
    



</body>

</html>